#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[en_US]=gnome-panel-launcher
Name[en_US]=CreateLauncher
Exec=gnome-desktop-item-edit --create-new /home/maj/shortcuts/
Name=CreateLauncher
Icon=gnome-panel-launcher
